node_modules/\nbuild_tmp/\n__pycache__/\n*.o\n*.log\n*.pdf\n*.aux\n*.png\n*.toc\n.DS_Store\n*.vo\n*.vok\n*.vos\n*.glob\n*.npy\n*.csv\n*.xlsx\n*.pth\n*.bin\n*.last.pth\n*.out\n*.cache\nmaster_m2_prover\nproduction_prover\nproduction_prover_v2\nreal_proof_submitter\nhybrid_5090_miner\ncuda_prover\napool_client\napool_client_finish\napool_client_full\nbls_math_tests\nneon_ntt_bls377\nstratum_test\nzk_verification_bench\nzk_verification_tests\nalias_test\nopt_test\njump_benchmark\nlevy_accel\nlevy_neon\nmc_64\nprocess_all_data\nreal_zk_prover_skeleton\nsmin_trainer\nzenith_trainer\ndia_ffnn_512\ndia_ffnn_64_64\nffnn_256\nenergy_trainer\nenergy_trainer_v2\nmultistep_train\nwalkforward_trading\n
